openapi: 3.0.1
info:
  title: SAP APIs
  version: 1.0.0
servers:
  - url: https://apigatewayqa.adient.com/sap/v2
    description: Quality
  - url: https://apigateway.adient.com/sap/v2
    description: Production
paths:
  /GetSuppExpiredCert:
    get:
      tags:
        - Get Suppliers with an expired certificate
      summary: Get details for suppliers with an expired certificate
      description: >-
        Get details for suppliers with an expired certificate. Requires a From
        and a To Date to filter the results
      operationId: GetSuppExpiredCert
      parameters:
        - name: FromDate
          in: query
          description: From Date
          required: true
          schema:
            type: string
        - name: ToDate
          in: query
          description: To Date
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json; charset=UTF-8:
              schema:
                minItems: 1
                uniqueItems: true
                type: array
                description: ''
                items:
                  required:
                    - CertExpiredDate
                    - certficatedesc
                    - certificatetype
                    - expireddate
                    - metadata
                    - supplier
                    - suppliername
                  type: object
                  properties:
                    metadata:
                      type: object
                      properties: {}
                    supplier:
                      type: number
                      example: 123456
                    certificatetype:
                      type: string
                      example: '0003'
                    suppliername:
                      type: string
                      example: Supplier Name
                    certficatedesc:
                      type: string
                      example: Certificate Description
                    expireddate:
                      type: string
                      example: /Date(1627171200000)/
                    CertExpiredDate:
                      type: string
                      example: 2021-07-25T00:00:00.000Z
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header